footer{
    /* background-color: #25272c; */
    /* background-image: linear-gradient(315deg, #32363b 0%, #060707 74%); */
}
.footer_aboute{
    max-width: 24em;
}
/* .up_footer > div:nth-child(1){
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}


.up_footer > div:nth-child(2){
    -webkit-box-flex: 0;
-ms-flex: 0 0 16.666667%;
flex: 0 0 16.666667%;
max-width: 16.666667%;
}

.up_footer > div:nth-child(3){
    -webkit-box-flex: 0;
-ms-flex: 0 0 16.666667%;
flex: 0 0 16.666667%;
max-width: 16.666667%;
}

.up_footer > div:nth-child(4){
    -webkit-box-flex: 0;
-ms-flex: 0 0 28%;
flex: 0 0 28%;
max-width: 28%;
} */